@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding-bottom: 250px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

hr {
    border: 0;
    height: 1px;
    width: 70%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#public {
    font-style: italic;
}

#offers {
    margin-top: 18px;
    margin-bottom: 18px;
}

#highlander {
    margin-right: 25px;
}

#benefits {
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}

#serverAddress {
    width: 329px;
}

#serverName {
    width: 240px;
}

.card.thick, .card.original, .button.green, .button.blue {
    margin-right: 0;
}

.price {
    color: #107db0;
}

.price > span {
    color: #929292;
}

.card.thin {
    vertical-align: top;
}

video.lobbyCreation {
    width: 346px;
    height: 257px;
}

p.lobbyCreation {
    width: 306px;
}